*,
*::after,
*::before {
    box-sizing: border-box;
    line-height: 1.5em;
}

$primaryColor: #2f231f;

:root {
    --primary-hue: #{hue($primaryColor)};
    --primary-saturation: #{saturation($primaryColor)};
    --primary-lightness: #{lightness($primaryColor)};

    --main-font: "Roboto", sans-serif;

    --body-color: hsl(var(--primary-hue), var(--primary-saturation), 97%);
    --text-color: hsl(var(--primary-hue), var(--primary-saturation), 11%);
    --fade-color: hsl(var(--primary-hue), var(--primary-saturation), 70%);
    --light-bg: hsl(var(--primary-hue), var(--primary-saturation), 99%);
    --container-color: hsl(var(--primary-hue), var(--primary-saturation), 100%);
    --light-color: hsl(var(--primary-hue), var(--primary-saturation), 97%);
    --dark-color: hsl(var(--primary-hue), var(--primary-saturation), 8%);
    --box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);

    --border-color: hsl(var(--primary-hue), var(--primary-saturation), 80%);
    --radius: 5px;
}

html,
input,
select,
button {
    font-family: var(--main-font);
    font-size: 16px;
    accent-color: var(--dark-color);
}

body {
    font-optical-sizing: auto;
    color: var(--text-color);
    background-color: var(--body-color);
}

.row-hidden {
    box-shadow: none !important;
    background-color: unset !important;
    .hidden-row {
        display: none !important;
    }
}

.container {
    max-width: 500px;
    background-color: var(--container-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    margin: 0 auto;
    padding: 3rem;

    .title {
        text-align: center;
        font-size: 1.6rem;
        margin-top: 0;
        text-decoration: underline wavy;
    }
    @media only screen and (max-width: 500px) {
        padding: 2rem;
    }
    @media only screen and (max-width: 415px) {
        padding: 1rem;
    }
}

.boxes-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    .box {
        padding: 1rem;
        border: 1px solid var(--border-color);
        box-shadow: 0 0 0 2px var(--text-color);
        background-color: var(--light-bg);
        border-radius: var(--radius);
        cursor: pointer;

        &:hover {
            border-color: var(--text-color);
        }
    }
    .row {
        display: grid;
        grid-template-columns: auto 2fr 1fr;
        align-items: center;
    }

    .radio {
        padding-right: 10px;
    }
    .quantity {
        font-weight: 700;
        .discount {
            font-weight: normal;
            font-size: 0.8rem;
            background-color: var(--dark-color);
            color: var(--light-color);
            padding: 3px 7px;
            margin-left: 10px;
            border-radius: var(--radius);
        }
    }

    .price {
        text-align: right;
        del {
            font-size: 0.9rem;
            color: var(--fade-color);
        }
    }

    .hidden-row {
        text-align: center;
        font-size: 1.2rem;
        text-decoration: underline;
        border-top: 1px dashed var(--fade-color);
    }
}

.add-to-cart {
    button {
        all: unset;
        box-sizing: border-box;
        cursor: pointer;
        background-color: var(--dark-color);
        color: var(--light-color);
        border-radius: var(--radius);
        width: 100%;
        padding: 15px;
        text-align: center;
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    }
}
